# DATASETS / DATA FILES


# Data folders
cleaned_data/
reference/
test/

# output files
job_skills_cleaned_frequency.xlsx
job_skills_raw.xlsx
ntuCourseInfo.json
ntuCourseList.json
NUSModsInfo.json
sutdCourseDescriptions.json
sutdCourseList.json

# LARGE FILES / ARCHIVES
*.tar
*.tar.gz
*.gz
*.rar
*.7z


# CREDENTIALS / SECRETS
.env
.env.*
*.key
*.pem
*.crt
*.secret
*.credentials
config/secrets.*
credentials.json


# PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/


# VIRTUAL ENVIRONMENTS
venv/
.env/
env/
.venv/


# IDE FILES
.vscode/
.idea/


# SYSTEM FILES
.DS_Store
Thumbs.db



.DS_Store
Thumbs.db
